*{
    padding: 0;
    margin: 0;
}

.main-container {
    background-image: url('./group@2x.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0 auto;
}

.nav-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.text-nav{
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    font-weight: 100;
}

.menu-nav {
    border-bottom: 1px solid white;
}
.vertical-line {
    border-right: 1px solid white;
    height: 100vh;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap; 
}

.col {
    padding: 10px; 
    flex: 1;
}

.img-ball {
    width: 10%; 
    height: auto; 
    max-width: 150px; 
    min-width: 50px; 
    margin-left: 10px;
    margin-right: 10px;
}

.container-main-message{
    width: 100%;
    margin-top: 12em;
}

.container-main-message > div > h1 {
    color: white;
    font-size: 4.5rem;
    font-weight: 100;
}

.main-message{
    width: 70%;
}

.btnAbout{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 12px;
    padding: 15px 25px;
    margin-top: 4em;
    color: white;
    cursor: pointer;
}

.text-tennis {
    color: #CFE262
}

@media (max-width: 800px) {
    .container-main-message > div > h1 {
        font-size: 3rem;
    }
    .text-nav{
        font-size: 1rem;
    }
}